--
-- PostgreSQL database dump
--

\restrict b4ZFW7bq49qLJudVfaQr2IhOCeByEaIqYIeqwyJfbfNQuSaSokkOJeMGYw6rrRC

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: BillStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BillStatus" AS ENUM (
    'PENDING',
    'PARSED',
    'MAPPED',
    'SYNCED',
    'ERROR'
);


ALTER TYPE public."BillStatus" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'COMPANY'
);


ALTER TYPE public."Role" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Bill; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Bill" (
    id text NOT NULL,
    "companyId" text NOT NULL,
    "billNumber" text NOT NULL,
    "vendorName" text NOT NULL,
    "vendorGstin" text,
    "billDate" text NOT NULL,
    subtotal double precision NOT NULL,
    "cgstAmount" double precision DEFAULT 0 NOT NULL,
    "sgstAmount" double precision DEFAULT 0 NOT NULL,
    "igstAmount" double precision DEFAULT 0 NOT NULL,
    "totalAmount" double precision NOT NULL,
    status public."BillStatus" DEFAULT 'PARSED'::public."BillStatus" NOT NULL,
    "imageUrl" text,
    "originalData" jsonb,
    "isEdited" boolean DEFAULT false NOT NULL,
    "rawAiJson" jsonb,
    "tallyXml" text,
    "tallyMapping" jsonb,
    "syncedAt" timestamp(3) without time zone,
    "syncError" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "buyerGstin" text,
    "roundOffAmount" double precision
);


ALTER TABLE public."Bill" OWNER TO postgres;

--
-- Name: Company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Company" (
    id text NOT NULL,
    name text NOT NULL,
    gstin text,
    email text NOT NULL,
    port integer DEFAULT 9000 NOT NULL,
    mapping jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Company" OWNER TO postgres;

--
-- Name: LedgerCache; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LedgerCache" (
    id text NOT NULL,
    "companyId" text NOT NULL,
    name text NOT NULL,
    "group" text DEFAULT ''::text NOT NULL,
    gstin text,
    state text,
    "openingBalance" text,
    "gstRegistrationType" text
);


ALTER TABLE public."LedgerCache" OWNER TO postgres;

--
-- Name: LineItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LineItem" (
    id text NOT NULL,
    "billId" text NOT NULL,
    description text NOT NULL,
    "hsnCode" text,
    quantity double precision NOT NULL,
    unit text NOT NULL,
    "unitPrice" double precision NOT NULL,
    "gstRate" double precision NOT NULL,
    amount double precision NOT NULL,
    "tallyLedger" text,
    "discountPercent" double precision,
    "tallyStockItem" text
);


ALTER TABLE public."LineItem" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    role public."Role" DEFAULT 'COMPANY'::public."Role" NOT NULL,
    "companyId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Data for Name: Bill; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Company; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LedgerCache; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LineItem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Bill Bill_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Bill"
    ADD CONSTRAINT "Bill_pkey" PRIMARY KEY (id);


--
-- Name: Company Company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Company"
    ADD CONSTRAINT "Company_pkey" PRIMARY KEY (id);


--
-- Name: LedgerCache LedgerCache_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LedgerCache"
    ADD CONSTRAINT "LedgerCache_pkey" PRIMARY KEY (id);


--
-- Name: LineItem LineItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LineItem"
    ADD CONSTRAINT "LineItem_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Company_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Company_email_key" ON public."Company" USING btree (email);


--
-- Name: LedgerCache_companyId_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "LedgerCache_companyId_name_key" ON public."LedgerCache" USING btree ("companyId", name);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Bill Bill_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Bill"
    ADD CONSTRAINT "Bill_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: LedgerCache LedgerCache_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LedgerCache"
    ADD CONSTRAINT "LedgerCache_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LineItem LineItem_billId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LineItem"
    ADD CONSTRAINT "LineItem_billId_fkey" FOREIGN KEY ("billId") REFERENCES public."Bill"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict b4ZFW7bq49qLJudVfaQr2IhOCeByEaIqYIeqwyJfbfNQuSaSokkOJeMGYw6rrRC

